@model EMSDomain.Employee
@inject EMSDataAccess.IEmployee EmployeeMan

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

@{
    var Departments = EmployeeMan.GetAllDepartments();
}

<div class="row">
    <div class="col-md-4">
        <span class="Asterisk">Name</span><span asp-validation-for="EmployeeName"></span>
        <input type="text" asp-for="EmployeeName" class="form-control" />
    </div>
    <div class="col-md-4">
        <span>Email</span><span asp-validation-for="Email"></span>
        <input type="text" class="form-control" asp-for="Email" />
    </div>
    <div class="col-md-4">
        <lable>Phone</lable><span asp-validation-for="Phone"></span>
        @(Html.Kendo().MaskedTextBoxFor(Model => Model.Phone).HtmlAttributes(new { @class = "form-control" }).Mask("(999) 000-0000"))
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <span>Department</span><span asp-validation-for="DepartmentId"></span>
        <select asp-for="DepartmentId" asp-items="@Departments.Select(x => new SelectListItem { Text = x.DepartmentName, Value = x.Id.ToString()})" class="form-select">
            <option value="">-- Select a Department --</option>
        </select>
    </div>
    <div class="col-md-4">
        <span>Position</span><span asp-validation-for="Position"></span>
        <input type="text" asp-for="Position" class="form-control" />
    </div>
     <div class="col-md-4">
        <span class="AFCARS2">Joining Date</span><span asp-validation-for="JoiningDate"></span>
        <kendo-datepicker max="@CommonLib.TimeZoneUtility.DateTimeNow" for="JoiningDate" class="form-control" style='width: 100%;' />
    </div>
</div>