@model EMSDomain.PerformanceReview
@inject EMSDataAccess.IEmployee EmployeeMan

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

@{
    var Employees = EmployeeMan.GetAllEmployees();
}

<div class="row">
    <div class="col-md-4">
        <span>Employee Name</span><span asp-validation-for="EmployeeId"></span>
        <select asp-for="EmployeeId" asp-items="@Employees.Select(x => new SelectListItem { Text = x.EmployeeName, Value = x.Id.ToString()})" class="form-select">
            <option value="">-- Select an Employee --</option>
        </select>
    </div>
    <div class="col-md-4">
        <span class="AFCARS2">Review Date</span><span asp-validation-for="ReviewDate"></span>
        <kendo-datepicker max="@CommonLib.TimeZoneUtility.DateTimeNow" for="ReviewDate" class="form-control" style='width: 100%;' />
    </div>
    <div class="col-md-4">
        <span>Review Score</span><span asp-validation-for="ReviewScore"></span>
        <input type="number" asp-for="ReviewScore" class="form-control" min="1" max="10" />
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <span>Review Notes</span><span asp-validation-for="ReviewNotes"></span>
        <textarea asp-for="ReviewNotes" class="form-control"></textarea>
    </div>
</div>